name: CiCd

on:
  push:
    branches:
      - main

jobs:
  Build-and-Push-to-GHCR:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and Push to GitHub Container Registry
        run: |
          docker build . --tag ghcr.io/kythix/kythi-backend:latest
          docker push ghcr.io/kythix/kythi-backend:latest